In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('data/merged_2016.csv')
df.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,fips,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,deckflag,living_area_prop,value_ratio,value_prop
0,11016594,0.0276,2016-01-01,1.0,2.0,3.0,4.0,NaN,1684.0,6037.0,...,360170.0,2015.0,237416.0,6735.879883,NaN,NaN,NaN,0.223698,53.470371,0.517042
1,14366692,-0.1684,2016-01-01,NaN,3.5,4.0,NaN,NaN,2263.0,6059.0,...,585529.0,2015.0,239071.0,10153.019531,NaN,NaN,NaN,0.621191,57.670429,1.449185
2,12098116,-0.0040,2016-01-01,1.0,3.0,2.0,4.0,NaN,2217.0,6037.0,...,119906.0,2015.0,57912.0,11484.480469,NaN,NaN,NaN,0.194082,10.440699,1.070486
3,12643413,0.0218,2016-01-02,1.0,2.0,2.0,4.0,NaN,839.0,6037.0,...,244880.0,2015.0,73362.0,3048.739990,NaN,NaN,NaN,0.011840,80.321709,2.337968
4,14432541,-0.0050,2016-01-02,NaN,2.5,4.0,NaN,NaN,2283.0,6059.0,...,434551.0,2015.0,264977.0,5488.959961,NaN,NaN,NaN,0.380500,79.168182,0.639957

In [2]:
# Encode object type columns to numerical values
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for c in df.columns:
    df[c] = df[c].fillna(0)
    if df[c].dtype == 'object':
        le.fit(list(df[c].values))
        df[c] = le.transform(list(df[c].values))
        
df.columns

Index(['parcelid', 'logerror', 'transactiondate', 'airconditioningtypeid',
       'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet', 'fips',
       'fireplacecnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear', 'deckflag',
       'living_area_prop', 'value_ratio', 'value_prop'],
      dtype='object')

In [3]:
df.head()

,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,fips,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,deckflag,living_area_prop,value_ratio,value_prop
0,11016594,0.0276,0,1.0,2.0,3.0,4.0,0.0,1684.0,6037.0,...,360170.0,2015.0,237416.0,6735.879883,0,0.0,0.0,0.223698,53.470371,0.517042
1,14366692,-0.1684,0,0.0,3.5,4.0,0.0,0.0,2263.0,6059.0,...,585529.0,2015.0,239071.0,10153.019531,0,0.0,0.0,0.621191,57.670429,1.449185
2,12098116,-0.0040,0,1.0,3.0,2.0,4.0,0.0,2217.0,6037.0,...,119906.0,2015.0,57912.0,11484.480469,0,0.0,0.0,0.194082,10.440699,1.070486
3,12643413,0.0218,1,1.0,2.0,2.0,4.0,0.0,839.0,6037.0,...,244880.0,2015.0,73362.0,3048.739990,0,0.0,0.0,0.011840,80.321709,2.337968
4,14432541,-0.0050,1,0.0,2.5,4.0,0.0,0.0,2283.0,6059.0,...,434551.0,2015.0,264977.0,5488.959961,0,0.0,0.0,0.380500,79.168182,0.639957